.card {
  aspect-ratio: 16 / 9;
  padding: 3rem 3rem 2.5rem 3rem;
  overflow: hidden;
  border-radius: 0;
}

.card p {
  margin-bottom: 0.5rem;
}

.card h1 {
  margin-bottom: -0.15rem;
}

.inner {
  margin-top: auto;
  position: relative;
  filter: blur(40px);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 500ms ease-out, opacity 500ms ease-out, filter 500ms ease-out;
  will-change: transform, opacity, filter;
}

.text {
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 0.375rem;
  transition: opacity 500ms ease-out, transform 500ms ease-out;
  will-change: opacity, transform;
}

.card:hover .inner {
  transform: translateY(0);
  opacity: 1;
  filter: blur(0);
}

.card a {
  color: blue;
  text-decoration: underline;
  margin-top: 1.5rem;
}