@import "tailwindcss";
@import "tw-animate-css";

@config "../tailwind.config.ts";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.985 0 0);
  --foreground: oklch(0.185 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --card-border: oklch(0.922 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.305 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.205 0 0);
  --foreground: oklch(0.975 0 0);
  --card: oklch(0.215 0 0);
  --card-foreground: oklch(0.985 0 0);
  --card-border: oklch(0.245 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.870 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.305 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

:root {
  --shiki-background: var(--card);
  --shiki-foreground: var(--foreground);
  
  --shiki-token-constant: oklch(0.80 0.15 237);
  --shiki-token-string: oklch(0.86 0.10 237);
  --shiki-token-comment: oklch(0.60 0.02 263);
  --shiki-token-keyword: oklch(0.72 0.15 17);
  --shiki-token-parameter: oklch(0.76 0.12 65);
  --shiki-token-function: oklch(0.78 0.14 295);
  --shiki-token-string-expression: oklch(0.86 0.10 237);
  --shiki-token-punctuation: oklch(0.96 0.01 263);
  --shiki-token-link: oklch(0.70 0.13 237);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-card-border: var(--card-border);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --breakpoint-md: 44rem;
  --breakpoint-sm: 32rem;
  --breakpoint-xs: 27rem;

  --content-width: 36rem;

  --text-sm: 0.9375rem;
  --text-xs: 0.875rem;

  --default-mono-font-family: var(--font-geist-mono);
  --default-font-family: var(--font-geist-sans);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    scrollbar-color: var(--color-border) transparent;
  }
  body {
    @apply flex flex-col bg-background text-secondary-foreground min-h-[100svh] antialiased font-[450] dark:font-[400] text-[0.96em] xs:text-[1em];
  }
  main {
    @apply w-full pt-16 lg:pt-32 flex flex-col max-w-screen-lg lg:grid lg:grid-cols-[auto_var(--content-width)_auto] gap-x-1 mx-auto px-5 
  }
  article {
    @apply space-y-7.5 sm:space-y-12.5 animation-container col-start-2 max-w-[var(--content-width)] w-full mx-auto lg:mx-0 
  }
  header {
    @apply animate-blur-fade stagger-0 max-w-(--content-width) w-full lg:w-auto mx-auto lg:mx-0  px-2.5 lg:px-0 mb-16 translate-y-0.5
  }
}

@layer typography {
  h1, h2, h3, h4 {
    @apply font-[550] text-foreground
  }
  h1 {
    @apply text-lg
  }
  p {
    @apply leading-relaxed
  }
  .prose-short {
    @apply space-y-3 dark:space-y-3.5;
  }
  .prose-long {
    @apply space-y-3 dark:space-y-4 md:space-y-4 dark:md:space-y-5;
  }
  p code, li code {
    @apply text-xs text-foreground rounded-sm bg-card px-1 py-0.5 break-words whitespace-pre-wrap border border-card-border
  }
  span[data-no-brakes] {
    @apply whitespace-nowrap
  }
  br {
    @apply hidden md:block
  }
  li::marker {
    @apply text-muted-foreground/50
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
    filter: blur(20px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0);
  }
}

@utility animate-blur-fade {
  opacity: 0;
  transform: translateY(40px);
  filter: blur(20px);
  animation: fadeInUp 600ms ease-out 600ms forwards;
  animation-delay: calc(var(--stagger, 0) * 120ms);
}

@utility stagger-* {
  --stagger: --value(integer)
}

@media (prefers-reduced-motion: reduce) {
  .animate-blur-fade {
    animation-duration: 0.01ms !important;
    animation-delay: 0.01ms !important;
  }
}

@layer code {
  pre {
    @apply pl-5 py-2.5 pt-7.5 rounded-2xl text-[13px] -mx-2.5 overflow-x-scroll;
  }

  .shiki {
    @apply border border-card-border
  }

  pre:has(code .line[data-line]) {
    counter-reset: line;
  }

  pre code .line[data-line]::before {
    counter-increment: line;
    content: counter(line);
    @apply w-2 hidden md:inline-block text-left mr-5 text-[11px] select-none text-muted-foreground;
  }

  pre code [data-line] {
    @apply relative inline-block;
  }
}

@layer scroll {  
}