.oklch {

  --base-c: 0.175;
  --base-h: 68deg;

  --shift-base-l: -0.07;
  --shift-base-c:  0.025;
  --shift-base-h:  120deg;

  /* Background colors */
  --bg-base-l: 0.92;
  --bg-base-c: var(--base-c);
  --bg-base-h: var(--base-h);

  --bg-target-l: calc(var(--bg-base-l) + var(--shift-base-l));
  --bg-target-c: calc(var(--bg-base-c) + var(--shift-base-c));
  --bg-target-h: calc(var(--bg-base-h) + var(--shift-base-h));

  --bg-base-a: calc(var(--bg-base-c) * cos(var(--bg-base-h)));
  --bg-base-b: calc(var(--bg-base-c) * sin(var(--bg-base-h)));
  --bg-target-a: calc(var(--bg-target-c) * cos(var(--bg-target-h)));
  --bg-target-b: calc(var(--bg-target-c) * sin(var(--bg-target-h)));

  --bg-color: oklab(var(--bg-base-l) var(--bg-base-a) var(--bg-base-b));
  --bg-color-target: oklab(var(--bg-target-l) var(--bg-target-a) var(--bg-target-b));

  /* Border colors */
  --border-base-l: 0.95;
  --border-base-c: calc(var(--base-c) - 0.025);
  --border-base-h: var(--base-h);

  --border-target-l: calc(var(--border-base-l) + var(--shift-base-l));
  --border-target-c: calc(var(--border-base-c) + var(--shift-base-c));
  --border-target-h: calc(var(--border-base-h) + var(--shift-base-h));

  --border-base-a: calc(var(--border-base-c) * cos(var(--border-base-h)));
  --border-base-b: calc(var(--border-base-c) * sin(var(--border-base-h)));
  --border-target-a: calc(var(--border-target-c) * cos(var(--border-target-h)));
  --border-target-b: calc(var(--border-target-c) * sin(var(--border-target-h)));

  --border-color: oklab(var(--border-base-l) var(--border-base-a) var(--border-base-b));
  --border-color-target: oklab(var(--border-target-l) var(--border-target-a) var(--border-target-b));

  /* Text colors */
  --text-base-l: 0.25;
  --text-base-c: var(--base-c);
  --text-base-h: var(--base-h);

  --text-target-l: calc(var(--text-base-l) + var(--shift-base-l));
  --text-target-c: calc(var(--text-base-c) + var(--shift-base-c));
  --text-target-h: calc(var(--text-base-h) + var(--shift-base-h));

  --text-base-a: calc(var(--text-base-c) * cos(var(--text-base-h)));
  --text-base-b: calc(var(--text-base-c) * sin(var(--text-base-h)));
  --text-target-a: calc(var(--text-target-c) * cos(var(--text-target-h)));
  --text-target-b: calc(var(--text-target-c) * sin(var(--text-target-h)));

  --text-color: oklab(var(--text-base-l) var(--text-base-a) var(--text-base-b));
  --text-color-target: oklab(var(--text-target-l) var(--text-target-a) var(--text-target-b));

  /* Shadow colors */
  --shadow-base-l: 0.68;
  --shadow-base-c: calc(var(--base-c) - 0.05);
  --shadow-base-h: var(--base-h);

  --shadow-target-l: calc(var(--shadow-base-l) + var(--shift-base-l));
  --shadow-target-c: calc(var(--shadow-base-c) + var(--shift-base-c));
  --shadow-target-h: calc(var(--shadow-base-h) + var(--shift-base-h));

  --shadow-base-a: calc(var(--shadow-base-c) * cos(var(--shadow-base-h)));
  --shadow-base-b: calc(var(--shadow-base-c) * sin(var(--shadow-base-h)));
  --shadow-target-a: calc(var(--shadow-target-c) * cos(var(--shadow-target-h)));
  --shadow-target-b: calc(var(--shadow-target-c) * sin(var(--shadow-target-h)));

  --shadow-color: oklab(var(--shadow-base-l) var(--shadow-base-a) var(--shadow-base-b) / 0.5);
  --shadow-color-target: oklab(var(--shadow-target-l) var(--shadow-target-a) var(--shadow-target-b) / 0.5);

  cursor: pointer;
  padding: 8px 16px 8px 16px;
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: 0 8px 16px var(--shadow-color);
  transition: background-color 1s ease, border-color 1s ease, color 1s ease, box-shadow 1s ease;
}

.oklch:hover {
  background-color: var(--bg-color-target);
  border-color: var(--border-color-target);
  color: var(--text-color-target);
  box-shadow: 0 8px 16px var(--shadow-color-target);
}